$font-size-xs: 1rem; // 10px
$font-size-sm: 1.2rem; // 12px
$font-size-base: 1.6rem; // 16px
$font-size-md: 1.8rem; // 20px
$font-size-lg: 2rem; // 24px
$font-size-xl: 2.8rem;
$font-size-h1-sm: 2rem;
$font-size-h1-md: 3rem;
$font-size-h1-lg: 3rem;
$font-size-h1-xl: 3.7rem;
$font-size-title: 3.2rem; // 32px
// 📏 Alturas
$altura-header: 8rem; // 80px
$altura-footer: 6rem; // 60px
$altura-video: 50vh;
$altura-seccion: 70rem;
// 📐 Espaciado
$spacing-xs: 0.5rem;
$spacing-sm: 1rem;
$spacing-md: 2rem;
$spacing-lg: 4rem;

// 📱 Breakpoints
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;
