@import 'variables';

q-page {
  width: 100vw;
  height: 100vw;
  border: 1px solid red;
}

* {
  font-family: 'Gotham Rounded', Arial, sans-serif;
}
// UTILIDADES
.bg-secondary-section {
  background-color: #e8e8e8;
}

/* VIDEO DE FONDO*/

// .caja-con-video-fondo {
//   position: absolute;

//   width: 100%;
//   height: 50rem;
//   overflow: hidden;
//   margin: -1.25vw 0;
//   padding: 0;
//   z-index: -10;

//   video {
//     position: absolute;
//     top: 0px;
//     top: 50%;
//     left: 50%;
//     transform: translate(-50%, -50%);

//     min-width: 100%;
//     min-height: 50rem;
//     width: auto;
//     height: auto;

//     max-width: 99vw;
//     z-index: -2;
//     display: block;
//   }

//   .mascara-video {
//     position: absolute;
//     top: 0;
//     left: 0;
//     width: 100%;
//     height: 56vw;
//     background-color: var(--color-primary-1-low);
//     z-index: -1;
//   }
// }
.caja-con-video-fondo {
  position: absolute;
  width: 100%;
  height: 50rem; // 500px
  overflow: hidden;
  padding: 0;
  z-index: 2;

  video {
    position: absolute;
    display: none;
    // top: 50%;
    // left: 50%;
    // transform: translate(-50%, -50%);
    top: 0px;

    min-width: 100%;
    height: 100%;
    // min-height: 50rem; // 500px
    // height: auto;
    max-width: 100%; // esto sigue siendo relativo al viewport (mantenerlo si quieres ajuste a pantalla)
    z-index: -2;
  }
  &::after {
    content: '';
    position: absolute;
    // top: 0;
    // left: 0;
    padding: 0;
    width: 100%;
    height: 100%; // 560px, equivalente al anterior 56vw
    background-color: var(--color-primary-1-low);
    z-index: -1;
    pointer-events: none; // evita que interfiera con clicks
  }
}

/* BODY */

#body {
  /* border: 1px solid red; */
  position: relative;
  // margin: 1rem 1rem;
  // height: auto;
  z-index: 1;
  background-color: #e8e8e8;

  // nav {
  //   position: sticky;
  // }

  #presentation {
    display: flex;

    // flex-direction: column;
    margin: 0rem;
    width: 100%;
    height: $altura-seccion;
    padding: 1rem;
    padding-top: 4.5rem;
    // justify-content: center;
    background-image: url('/media/logos/prueba_logo.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: $altura-seccion; // o el tamaño que necesites
    // o el tamaño que necesites
    /* align-items: center; */
    /* border: 1px solid green; */
    // margin: 10vw 30vw 15vw 0vw;
    // padding: 2vw 2vw 2vw 0vw;
    /* background-color: var(--color-secondary-1-medium); */
    z-index: -10;
    overflow: hidden;
    // gap: 4rem;
    // &::before {
    //   content: '';
    //   position: absolute;
    //   top: 0;
    //   left: 0;
    //   width: 100%;
    //   height: 50rem;
    //   background: var(
    //     --color-primary-1-low
    //   ); // puedes cambiarlo por un color sólido o semitransparente
    //   pointer-events: none;
    // }

    #video-hero {
      display: none;
      position: absolute;
      top: 0%;
      left: 0%;
      width: 100vw;
      max-height: $altura-seccion;
      z-index: -10;
      object-fit: cover;
      min-height: $altura-seccion;
    }
    .content {
      width: 100%;
      // height: 100%;
      z-index: 10;
      padding: 1rem;
      margin: 1vw 5vw;
      max-height: 40rem;

      .title {
        text-align: left;
        font-size: $font-size-h1-sm;
        font-weight: bold;
        color: #fff;
      }
      .description {
        margin-top: 1.6rem;
        font-size: $font-size-sm;
        text-align: justify;
        font-weight: normal;
      }
      .btn-call-action {
        display: flex;
        flex-direction: row;
        margin-top: 1.6rem;
        align-items: center;
        justify-content: space-between;
        padding: 1rem;
        width: 15rem;
        height: 4rem;
        font-weight: bold;
        color: black;
        border-radius: 9999px;
        transition: all 250ms;
        border: none;
        background-color: var(--color-primary-3);
        text-decoration: none;
        .text-call-action {
          font-size: 1.2rem;
        }
        .icon-call-action {
          height: 3rem;
          width: 3rem;
          transition: all 250ms;
        }

        &:hover {
          color: #e8e8e8;
          background-color: var(--color-primary-1);

          img {
            filter: invert(1);
            margin: -10px;
          }
        }
      }
    }
    // >= 576px
    @media (min-width: $breakpoint-sm) {
      // estilos para sm y superiores

      align-items: center;
      justify-content: left;
      background-image: none;
      #video-hero {
        display: block;
      }
      .content {
        color: #ffffff;
        .title {
          font-size: $font-size-h1-md;
        }
      }
    }

    // >= 768px
    @media (min-width: $breakpoint-md) {
      // estilos para md y superiores
    }

    // >= 992px
    @media (min-width: $breakpoint-lg) {
      align-items: center;
      justify-content: left;
      .content {
        width: 70%;
        color: #ffffff;
        .title {
          font-size: $font-size-h1-lg;
        }
        .description {
          font-size: $font-size-lg;
        }
      }

      // >= 1200px
      @media (min-width: $breakpoint-xl) {
        .content {
          width: 55%;
          color: #ffffff;
          .title {
            font-size: $font-size-h1-xl;
          }
          .description {
            font-size: $font-size-xl;
          }
          .btn-call-action {
            width: 20rem;
            height: 5rem;
            .text-call-action {
              font-size: $font-size-md;
            }
          }
        }
      }
    }
  }

  #services {
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 3vw;

    #container-tratamientos {
      padding: 16px 0px;
      border-radius: 16px;
      background: linear-gradient(to right, #e8e8e8 75%, #ffffff);
    }
    #s-title {
      display: flex;
      flex-direction: column;
      gap: 0.2vw;

      p {
        &:nth-child(1) {
          font-size: 1.5vw;
          font-weight: bold;
          color: var(--color-primary-1);
        }

        &:nth-child(2) {
          font-size: 2vw;
          font-weight: bold;
          color: var(--color-secondary-1);
          text-transform: uppercase;
        }

        &:nth-child(3) {
          font-weight: normal;
          font-size: 1.5vw;

          span {
            font-weight: bold;
            color: var(--color-primary-1);
          }
        }
      }
    }

    #services-cards-enterprise-2 {
      display: flex;
      gap: 1vw;

      .card {
        background-color: var(--color-primary-1-low);
        height: 25vw;
        width: 20vw;
        flex: 1;
        border-radius: 1vw;
        transition: all 0.3s ease;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        position: relative;
        transition: all 250ms;

        .c-bg-color {
          width: 100%;
          height: 100%;
          transition: all 250ms;
        }

        .card-icon {
          position: absolute;
          top: 1vw;
          left: 1vw;
          overflow: hidden;
          height: 5vw;
          width: 5vw;
          border-radius: 50%;
          display: flex;
          align-items: center;
          justify-content: center;
          background-color: var(--color-primary-2);
          transition: all 250ms;

          img {
            width: 3vw;
            filter: invert(1);
          }
        }

        a {
          display: flex;
          flex-direction: row;
          font-family: 'Gotham Rounded', Arial, sans-serif;
          justify-content: space-between;
          margin-left: 1vw;
          padding: 1vw;
          width: 15vw;
          color: white;
          border-radius: 1vw;
          transition: all 250ms;
          border: none;
          background-color: var(--color-primary-1);
          position: absolute;
          bottom: 1vw;
          opacity: 0;
          left: 1vw;
          text-decoration: none;

          p {
            &:nth-child(1) {
              all: unset;
              display: flex;
              align-self: center;
              color: white;
              font-size: 1vw;
              font-weight: bold;
            }
          }

          img {
            width: 2vw;
            margin-right: 1vw;
            filter: invert(1);
          }
        }

        &:nth-child(1) {
          background-image: url('/media/photos/SERVICIOS/DISEÑO DE SONRISA.JPG');
          background-size: cover;
          background-position: center;
          background-repeat: no-repeat;
        }

        &:nth-child(2) {
          background-image: url('/media/photos/SERVICIOS/ATENCIÓN DENTAL 24 HRS.jpeg');
          background-size: cover;
          background-position: center;
          background-repeat: no-repeat;
        }

        &:nth-child(3) {
          background-image: url('/media/photos/SERVICIOS/SERVICIO A DOMICILIO.jpeg');
          background-size: cover;
          background-position: center;
          background-repeat: no-repeat;
        }

        &:nth-child(4) {
          background-image: url('/media/photos/SERVICIOS/ORTODONCIA.jpeg');
          background-size: cover;
          background-position: center;
          background-repeat: no-repeat;
        }

        &:hover {
          .c-bg-color {
            width: 100%;
            height: 100%;
            background-color: var(--color-secondary-1-medium);
          }

          .card-icon {
            background-color: var(--color-secondary-1);
            top: 1vw;
            left: calc(15vw / 2);
          }

          .card-text {
            all: unset;
            position: absolute;
            text-align: center;
            padding: 0 1vw;
            width: 80%;
            top: 8vw;
            left: 50%;
            transform: translate(-50%);
            height: min-content;

            .ct-title {
              text-align: center;
              justify-self: center;
              color: white;
              width: 90%;
              padding: 0.5vw;
              border-bottom: 0.2vw solid white;
              margin-bottom: 1vw;
            }

            .ct-desc {
              all: unset;
              text-align: center;
              color: white;

              &:not(:empty) {
                position: initial;
                text-align: start;
                font-weight: normal;
                font-size: 0.75vw;
                opacity: 1;
              }
            }
          }

          a {
            opacity: 1;
          }
        }
      }

      .card-text {
        padding: 1vw;
        font-size: 1vw;
        background-color: var(--color-primary-2);
        text-align: start;
        border-radius: 1vw;
        margin: 0 1vw;
        color: white;
        font-weight: bold;
        position: absolute;
        bottom: 1vw;
        left: 0vw;
        transition: all 250ms;

        .ct-title {
          font-size: 1vw;
          font-weight: bold;
          text-align: start;
          transition: all 250ms;
        }

        .ct-desc {
          font-size: 0.05vw;
          font-weight: bold;
          text-align: start;
          position: absolute;
          bottom: 1vw;
          left: 1vw;
          opacity: 0;
          transition: all ease-in 250ms;
        }
      }
    }

    #services-cards-personal {
      width: 90vw;
      display: grid;
      grid-template-columns: calc(84vw / 3) calc(84vw / 3) calc(84vw / 3);
      grid-template-rows: 17vw 17vw;
      column-gap: 2vw;
      row-gap: 1vw;
      padding: 0vw 2vw;

      .card {
        display: flex;
        align-self: center;
        justify-self: center;
        width: 25vw;
        height: 15vw;
        background: rgb(103, 225, 255);
        transition: all 0.4s;
        border-radius: 2vw;
        box-shadow: 12px 17px 51px rgba(0, 0, 0, 0.22);
        font-size: 30px;
        font-weight: 900;
        /* z-index: -2; */
        overflow: hidden;

        .card-content {
          display: flex;
          align-self: flex-end;
          justify-self: center;
          height: 5vw;
          width: 25vw;
          padding: 0 1vw;
          background-color: var(--color-primary-1-medium);
          transition: all 0.4s;
          justify-content: start;
          align-items: center;
          position: relative;

          span {
            position: absolute;
            top: 1.5vw;
            color: white;
            font-size: 1.5vw;
            opacity: 1;
          }

          p {
            position: absolute;
            top: 3.5vw;
            color: white;
            font-size: 0.7vw;
            margin: 0 1vw 0 0;
            font-weight: normal;
            text-align: justify;
            opacity: 0;
          }
        }

        &:hover {
          border-radius: 2vw;
          cursor: pointer;
          transform: scale(1.1);
          box-shadow: 12px 17px 51px rgba(0, 0, 0, 0.22);

          .card-content {
            height: 8vw;
            background-color: var(--color-primary-1);

            span {
              top: 1vw;
            }

            p {
              opacity: 1;
            }
          }
        }

        &:nth-child(1) {
          background-image: url('/media/photos/TRATAMIENTOS/INTEGRALES.jpeg');
          background-size: cover;
          background-position: center;
          background-repeat: no-repeat;
        }

        &:nth-child(2) {
          background-image: url('/media/photos/TRATAMIENTOS/REHABILITACIÓN.jpeg');
          background-size: cover;
          background-position: center;
          background-repeat: no-repeat;
        }

        &:nth-child(3) {
          background-image: url('/media/photos/TRATAMIENTOS/PERIODONCIA E IMPLANTES.jpeg');
          background-size: cover;
          background-position: center;
          background-repeat: no-repeat;
        }

        &:nth-child(4) {
          background-image: url('/media/photos/TRATAMIENTOS/ENDODONCIA.jpeg');
          background-size: cover;
          background-position: center;
          background-repeat: no-repeat;
        }

        &:nth-child(5) {
          background-image: url('/media/photos/TRATAMIENTOS/CIRUGÍA ORAL _ MAXILOFACIAL.jpeg');
          background-size: cover;
          background-position: center;
          background-repeat: no-repeat;
        }

        &:nth-child(6) {
          background-image: url('/media/photos/TRATAMIENTOS/ODONTOPEDIATRÍA.jpeg');
          background-size: cover;
          background-position: center;
          background-repeat: no-repeat;
        }
      }
    }

    #tarj_price {
      margin: 0 6vw;
      width: 100%;
      gap: 3vw;
      display: flex;
      flex-direction: row;
      margin-bottom: 2vw;
      // border: 1px solid red;

      .card {
        flex: 1;
        height: 18vw;
        padding: 2vw;
        position: relative;
        border-radius: 1vw;
        background-image: linear-gradient(
          to bottom right,
          var(--color-primary-1) 50%,
          var(--color-primary-2) 100%
        );
        transition: all 250ms;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        box-shadow: 1.5vw 1.4vw 0.75vw -0.7vw rgba(0, 0, 0, 0.1);

        p {
          color: white;

          text-align: start;
        }

        .sub-text {
          font-weight: normal;
          font-size: 1vw;
        }

        .main-text {
          font-weight: bold;
          font-size: 1.8vw;
        }

        a {
          // position: absolute;
          // bottom: 2vw;
          // left: 2vw;
          width: 12vw;
          display: flex;
          align-items: center;
          justify-content: space-between;
          padding: 0.5vw 1.5vw 0.5vw 0.5vw;
          background-color: white;
          flex-direction: row;
          text-decoration: none;
          font-weight: bold;
          border-radius: 0.5vw;
          transition: all 250ms;

          p {
            color: black;
            font-size: 1.2vw;
            letter-spacing: 0.05vw;
          }

          img {
            width: 2vw;
          }

          &:hover {
            padding: 0.5vw;
            background-color: var(--color-primary-2);

            p {
              color: white;
            }

            img {
              filter: invert(1);
            }
          }
        }

        &:hover {
          transform: scale(1.1);
        }
      }

      @media (max-width: $breakpoint-sm) {
        flex-direction: column;
        align-items: center;
        .card {
          width: 200px;
          gap: 4px;
          align-items: center;
          a {
            width: 14vw;
            p {
              font-size: 8px;
            }
          }
        }
      }
    }
  }

  #testimonials {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 0vw;
    margin-top: 2vw;
    background: linear-gradient(to right, #e8e8e8 75%, #ffffff);
    overflow-x: hidden;
    padding: 16px 0px;
    border-radius: 16px;
    /* border: 1px solid red; */

    #s-title {
      display: flex;
      flex-direction: column;
      gap: 0.2vw;

      p {
        font-size: 2vw;
        font-weight: bold;
        color: var(--color-secondary-1);
        text-transform: uppercase;
      }
    }

    .carousel-container {
      position: relative;
      width: 90vw;
      height: 27.5vw;
      display: flex;
      align-items: center;
      overflow: hidden;
      border-radius: 10px;
      /* border: 1px solid red; */
    }
    ::v-deep(.q-carousel__slides-container) {
      height: 90%;
      align-items: center;
      justify-content: center;
      background: linear-gradient(to right, #e8e8e8 75%, #ffffff);
    }
    #pro-team {
      height: auto;
      width: 100%;

      .q-pa-md {
        .video-testimonial {
          width: 45vw !important;
          height: 20vw !important;
        }
      }
    }

    .carousel-track {
      display: flex;
      align-self: center;
      margin-left: 27vw;
      gap: 10vw;
      transition: transform 0.5s ease-in-out;
    }

    .carousel-slide {
      /* border: 1px solid blue; */
      padding: 0;
      margin: 0;
      height: 20.75vw;
      min-width: 35vw;
      box-sizing: border-box;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 2vw;

      // iframe {
      //   display: block;
      //   width: 100%;
      //   height: 100%;
      //   aspect-ratio: 16 / 9;
      //   max-width: 35vw;
      //   border: none;
      //   border-radius: 2vw;
      // }
      video {
        display: block;
        width: 100%;
        height: 100%;
        aspect-ratio: 16 / 9;
        max-width: 35vw;
        border: none;
        border-radius: 2vw;
        object-fit: cover; // opcional para que rellene bien
      }
    }

    .carousel-button {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      background-color: rgba(255, 193, 7, 0.9);
      border: none;
      color: white;
      font-size: 2vw;
      font-weight: bold;
      // padding: 10px 15px;
      cursor: pointer;
      z-index: 10;
      border-radius: 50%;
      width: 3vw;
      height: 3vw;
      display: flex;
      align-items: center;
      justify-content: center;
      opacity: 0.7;
      transition:
        opacity 0.3s ease,
        background-color 0.3s ease;

      &:hover {
        opacity: 1;
        background-color: rgb(255, 193, 7);
      }

      &.prev {
        left: 1vw;
      }

      &.next {
        right: 1vw;
      }
    }

    .carousel-nav {
      position: absolute;
      bottom: 15px;
      left: 50%;
      transform: translateX(-50%);
      display: flex;
      gap: 10px;
    }
  }

  #personal {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 3vw;
    /* border: 1px solid red; */

    #s-title {
      display: flex;
      margin-top: 5vw;
      flex-direction: column;
      gap: 0.2vw;

      p {
        &:nth-child(1) {
          font-size: 2vw;
          font-weight: bold;
          color: var(--color-secondary-1);
        }

        &:nth-child(2) {
          font-weight: normal;
          font-size: 1.5vw;

          span {
            font-weight: bold;
            color: var(--color-primary-1);
          }
        }
      }
    }

    #pro-team {
      height: auto;
      width: 100%;

      #pro-card-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 1vw;
        width: 100%;

        .card {
          flex: 1;
          display: flex;
          align-items: center;
          flex-direction: column;
          gap: 0.2vw;
          position: relative;

          .img-pro {
            margin-bottom: 1vw;
            width: 13vw;
            height: 13vw;
            overflow: hidden;
            border-radius: 50%;
            img {
              width: 100%;
              height: 100%;
              width: 100%;
              object-fit: contain;
              object-position: center;
            }
          }
          .img-pro--carla {
            height: 130% !important;
            width: auto !important;
            object-position: -2vw -2.5vw !important;
            // object-position: -20px -45px !important;
          }

          .pro-name {
            font-size: 1.2vw;
            font-weight: bold;
          }

          .pro-COP {
            font-weight: normal;
            font-size: 1.1vw;
          }

          .pro-area {
            color: grey;
            font-weight: normal;
            font-size: 1.1vw;
          }

          .pro-desc {
            max-width: 15vw;
            font-weight: normal;
            font-size: 1vw;
          }

          a {
            cursor: pointer;
            padding: 0.5vw 0 0 0;
            text-decoration: none;
            font-weight: bold;
            font-size: 1vw;
          }
        }
      }
    }

    @media (max-width: $breakpoint-sm) {
      flex-direction: column;
      align-items: center;

      .card {
        width: 20vw;
        margin-bottom: 5vw;

        p {
          font-size: 9px;
        }
        a {
          font-size: 6px;
        }
        //   font-size: 4vw;
        // }
      }
    }
    // #pro-container {
    //   display: grid;
    //   grid-template-columns: calc(80vw / 3) calc(80vw / 3) calc(80vw / 3);
    //   grid-template-rows: 28vw 28vw;
    //   column-gap: 1vw;
    //   /* border: 1px solid red; */
    //   padding: 0 2vw;

    //   #pro-card {
    //     border: 0.25vw solid white;
    //     display: flex;
    //     align-self: center;
    //     justify-self: center;
    //     width: 25vw;
    //     height: 25vw;
    //     /* background: rgb(103, 225, 255); */
    //     transition: all 0.4s;
    //     border-radius: 2vw;
    //     box-shadow: #604b4a30 0px 70px 30px -50px;
    //     font-size: 30px;
    //     font-weight: 900;
    //     /* z-index: -2; */
    //     overflow: hidden;
    //     position: relative;
    //     transition: all 0.4s;

    //     #pro-image {
    //       overflow: hidden;
    //       display: flex;
    //       align-self: center;
    //       justify-self: center;
    //       width: 25vw;
    //       height: 25vw;
    //       /* background: rgb(103, 225, 255); */
    //       transition: all 0.4s;
    //       border-radius: 2vw;
    //       box-shadow: #604b4a30 0px 70px 30px -50px;
    //       font-size: 30px;
    //       font-weight: 900;
    //     }

    //     #pro-desc {
    //       position: absolute;
    //       height: 8vw;
    //       width: 25vw;
    //       /* border: 1px solid red; */
    //       padding: 1vw;
    //       font-weight: normal;
    //       font-size: 1vw;
    //       bottom: 0;
    //       left: 0;
    //       overflow: hidden;
    //       background-color: var(--color-primary-1);
    //       transition: all 0.4s;

    //       #pro-name {
    //         position: absolute;
    //         font-weight: bold;
    //         top: 1vw;
    //         left: 1vw;
    //         color: white;
    //         font-size: 1.5vw;
    //         opacity: 1;
    //       }

    //       #pro-title {
    //         position: absolute;
    //         font-weight: normal;
    //         top: 3vw;
    //         left: 1vw;
    //         color: white;
    //         font-size: 1vw;
    //         opacity: 1;
    //       }

    //       #pro-full-text {
    //         opacity: 0;
    //         position: absolute;
    //         font-weight: normal;
    //         width: 22vw;
    //         text-align: justify;
    //         top: 4.5vw;
    //         left: 1vw;
    //         color: white;
    //         font-size: 0.75vw;
    //         transition: all 0.4s;
    //       }

    //       #pro-redes {
    //         position: absolute;
    //         bottom: 0.5vw;
    //         left: 1vw;
    //         display: flex;
    //         width: 22vw;
    //         flex-direction: row;
    //         gap: 1vw;
    //         align-content: center;
    //         align-items: center;
    //         justify-content: space-between;

    //         div {
    //           display: flex;
    //           flex-direction: row;
    //           gap: 1vw;

    //           a {
    //             display: flex;
    //             align-items: center;
    //             justify-content: center;
    //             width: 2vw;
    //             height: 2vw;
    //             overflow: hidden;
    //             background-color: var(--color-primary-2);
    //             border-radius: 50%;

    //             img {
    //               align-self: center;
    //               justify-self: center;
    //               width: 1vw;
    //               overflow: hidden;
    //               filter: invert(1);
    //               transition: all 250ms;
    //             }

    //             &:hover img {
    //               filter: invert(0);
    //             }
    //           }
    //         }

    //         #contact {
    //           text-decoration: none;
    //           color: white;
    //           font-weight: bold;
    //           padding: 0.5vw 1vw;
    //           border-radius: 999vw;
    //           background-color: var(--color-primary-2);
    //           transition: all 250ms;

    //           &:hover {
    //             color: black;
    //           }
    //         }
    //       }
    //     }

    //     &:hover {
    //       #pro-desc {
    //         height: 11vw;
    //         background-color: var(--color-primary-1);

    //         #pro-full-text {
    //           opacity: 1;
    //         }
    //       }
    //     }
    //   }
    // }
  }
}

// @media screen and (max-width: 768px) {
//   #body #services #tarj_price div div:nth-of-type(3) button {
//     background-color: var(--color-secondary-1);
//     margin-top: 1vw;
//     width: 20vw;
//     font-size: 2vw;
//     border: none;
//     border-radius: 0.5vw;
//     color: white;
//     padding: 1vw 3vw;
//     text-transform: uppercase;
//     transition: var(--color-secondary-2s) 1s ease;
//   }
// }
.go-top-container {
  position: fixed;
  bottom: 6vw;
  right: 2vw;
  width: 4vw;
  height: 4vw;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
  .go-top-button {
    width: 3vw;
    height: 3vw;
    padding: 4px;
    background: var(--color-primary-1);
    border-radius: 50%;
    cursor: ponter;

    img {
      height: 100%;
      width: 100%;
      object-fit: contain;
      transition: transform 0.3s;
      &:hover {
        // transform: rotate(180deg);
        transform: scale(1.1);
      }
    }

    &:hover {
      box-shadow: 0 6px 16px rgba(0, 0, 0, 0.2);
    }
  }
}
// </style>
