@import 'variables';

p {
  margin: 0;
  padding: 0;
}

#reviews {
  width: 100%;
  //   maxheight: $altura-seccion;
  padding: 5vw 4vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  overflow-x: hidden;
  // border: none solid rgb(80, 74, 74);
  #s-title {
    display: flex;
    flex-direction: column;
    gap: 0.2vw;

    p {
      &:nth-child(1) {
        font-size: $font-size-label-section-xs;
        font-weight: bold;
        color: var(--color-primary-1);
      }

      &:nth-child(2) {
        font-size: $font-size-title-section-xs;
        font-weight: bold;
        color: var(--color-secondary-1);
        text-transform: uppercase;
      }

      &:nth-child(3) {
        font-weight: normal;
        font-size: $font-size-decript-section-xs;

        span {
          font-weight: bold;
          color: var(--color-primary-1);
        }
      }
    }

    @media (min-width: $breakpoint-md) {
      p {
        &:nth-child(1) {
          font-size: $font-size-label-section-md;
        }

        &:nth-child(2) {
          font-size: $font-size-title-section-md;
        }

        &:nth-child(3) {
          font-size: $font-size-decript-section-md;
          span {
          }
        }
      }
    }
    @media (min-width: $breakpoint-lg) {
      p {
        &:nth-child(1) {
          font-size: $font-size-label-section-lg;
        }

        &:nth-child(2) {
          font-size: $font-size-title-section-lg;
        }

        &:nth-child(3) {
          font-size: $font-size-decript-section-lg;
          span {
          }
        }
      }
    }
  }
  #r-c-container {
    display: flex;
    flex-direction: row;
    width: 90%;
    gap: 1.5vw;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    // padding: 1vw 2vw;
    min-width: 25rem;
    -webkit-overflow-scrolling: touch;
    &::-webkit-scrollbar {
      height: 0.5vw;
    }

    &::-webkit-scrollbar-thumb {
      background: #ccc;
      border-radius: 1vw;
      width: 1vw;
    }

    &::-webkit-scrollbar-track {
      background: transparent;
    }

    .card {
      // flex: 0 0 calc((100% - 4vw) / 4); // 4 tarjetas con espacio de 1.5vw entre cada una
      // scroll-snap-align: start;
      // flex: 0 0 calc(100% - 5vw);
      // height: 40rem;
      border: 1px solid #d1d5db;
      border-radius: 0.5vw;
      box-shadow:
        0 10px 15px -3px rgba(0, 0, 0, 0.1),
        0 4px 6px -2px rgba(0, 0, 0, 0.05);
      background-color: #ffffff;
      padding: 2rem 1rem 1rem 1rem;
      display: flex;
      flex-direction: column;
      min-width: 20rem;
      max-width: 25rem;
      text-align: center;
      max-height: 50rem;
      //   height: fit-content;
      // width: 50rem !important;

      .user-title {
        color: #4b5563;
        font-size: $font-size-sm;
      }

      .card-profile-section {
        display: flex;
        align-items: center;
        justify-content: center;
        > * + * {
          margin-left: 0.4rem;
        }
        .avatar {
          width: 2.5rem;
          height: 2.5rem;
          display: flex;
          align-items: center;
          justify-content: center;
          background-color: #ef4444;
          color: #ffffff;
          font-size: 1rem;
          font-weight: bold;
          border-radius: 50%;
        }

        .user-name {
          color: #111827;
          font-weight: 500;
          font-size: $font-size-xs;
        }
      }
      .rating-stars {
        color: #ef4444;
        text-align: center;

        font-size: $font-size-sm;
      }

      .review-text {
        color: #374151;
        text-align: center;
        // line-height: 1.6vw;
        font-size: 1rem;
      }

      .read-more-link {
        color: #ef4444;
        font-weight: 500;
        cursor: pointer;
        font-size: 1rem;

        &:hover {
          text-decoration: underline;
        }
      }
    }
    .card:first-child {
      margin-left: 0;
    }
    .card:last-child {
      margin-right: 0;
    }

    .card > * + * {
      margin-top: 0.8rem;
    }

    @media (min-width: 992px) {
      .card {
        min-width: 35rem;
        min-height: 40rem;
        max-height: 65rem;
        padding: 2rem;
        text-align: left;
        align-items: start;
        .card-profile-section {
          .avatar {
            width: 5rem;
            height: 5rem;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #ef4444;
            color: #ffffff;
            font-size: 2rem;
            font-weight: bold;
            border-radius: 50%;
          }
          .user-info {
            .user-name {
              color: #111827;
              font-weight: 500;
              font-size: 1.6rem;
            }
          }
        }

        .user-title {
          color: #4b5563;
          font-size: $font-size-lg;
        }

        .rating-stars {
          color: #ef4444;

          font-size: $font-size-lg;
        }

        .review-text {
          color: #374151;
          // line-height: 1.6vw;
          text-align: start;
          font-size: 1.5rem;
        }

        .read-more-link {
          color: #ef4444;
          font-weight: 500;
          cursor: pointer;
          font-size: 1rem;

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
}

#map-and-form {
  #bg {
    background-color: transparent; /* Light blue background color */
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1440 320'%3E%3Cpath fill='%232CA9DB' fill-opacity='0.5' d='M0,160L48,181.3C96,203,192,245,288,261.3C384,277,480,267,576,234.7C672,203,768,149,864,138.7C960,128,1056,160,1152,186.7C1248,213,1344,235,1392,245.3L1440,256L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z'%3E%3C/path%3E%3Cpath fill='%232CA9DB' fill-opacity='0.3' d='M0,192L48,197.3C96,203,192,213,288,229.3C384,245,480,267,576,277.3C672,288,768,288,864,261.3C960,235,1056,181,1152,165.3C1248,149,1344,171,1392,181.3L1440,192L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z'%3E%3C/path%3E%3Cpath fill='%232CA9DB' fill-opacity='0.2' d='M0,224L48,213.3C96,203,192,181,288,181.3C384,181,480,203,576,224C672,245,768,267,864,261.3C960,256,1056,224,1152,213.3C1248,203,1344,213,1392,218.7L1440,224L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z'%3E%3C/path%3E%3C/svg%3E");
    background-size: cover;
    background-position: center bottom;
    background-repeat: no-repeat;
    width: 100%;
    padding: 0 0;
    position: relative;
    overflow: hidden;
    height: 200px;
    margin-bottom: 0px;
    padding-bottom: 0px;
    border: 1px solid rgb(44, 169, 219, 0.725);
    border-top: none;
    border-left: none;
    border-right: none;
    z-index: 1;
  }

  #forms {
    // background-color: rgb(44, 169, 219, 0.725);
    padding: 5rem 1rem 5rem 1rem;

    min-height: 80rem;
    display: flex;
    align-items: center;
    width: 100%;
    flex-direction: column;
    // align-items: center;
    // justify-content: center;
    text-align: center;
    /* border: 1px solid red; */
    #container-form-map {
      width: 90%;
      display: flex;
      flex-direction: column;

      gap: 2rem;
      // border: 1px solid rgb(44, 169, 219, 0.725);
      #s-title {
        display: flex;
        flex-direction: column;
        gap: 0.2vw;

        p {
          &:nth-child(1) {
            font-size: $font-size-label-section-xs;
            font-weight: bold;
            color: var(--color-primary-1);
          }

          &:nth-child(2) {
            font-size: $font-size-title-section-xs;
            font-weight: bold;
            color: var(--color-secondary-1);
            text-transform: uppercase;
          }

          &:nth-child(3) {
            font-weight: normal;
            font-size: $font-size-decript-section-xs;

            span {
              font-weight: bold;
              color: var(--color-primary-1);
            }
          }
        }

        @media (min-width: $breakpoint-md) {
          p {
            &:nth-child(1) {
              font-size: $font-size-label-section-md;
            }

            &:nth-child(2) {
              font-size: $font-size-title-section-md;
            }

            &:nth-child(3) {
              font-size: $font-size-decript-section-md;
              span {
              }
            }
          }
        }
        @media (min-width: $breakpoint-lg) {
          p {
            &:nth-child(1) {
              font-size: $font-size-label-section-lg;
            }

            &:nth-child(2) {
              font-size: $font-size-title-section-lg;
            }

            &:nth-child(3) {
              font-size: $font-size-decript-section-lg;
              span {
              }
            }
          }
        }
      }
      #separate-appointment {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        gap: 2rem;
        grid-template-rows: auto;
        padding: 1rem;

        .form {
          display: flex;
          flex-direction: column;
          gap: 1rem;
          padding: 1rem;
          min-width: 30rem;
          max-width: 45rem;
          label {
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: start;

            .input {
              width: 100%;
              // padding: 1vw 1vw 1.5vw 1vw;
              padding: 1rem;
              outline: 0;

              border: 1px solid rgba(105, 105, 105, 0.397);
              border-radius: 1vw;
              &::placeholder {
                font-size: 1.1vw; // aquí ajustas el tamaño del placeholder
              }
            }

            .input + span {
              position: absolute;
              left: 1vw;
              top: 2vw;
              color: grey;
              font-size: 0.9em;
              cursor: text;
              transition: 0.3s ease;
            }

            .input:placeholder-shown + span {
              top: 15px;
              font-size: 0.9em;
            }

            .input:focus + span,
            .form label .input:valid + span {
              top: 2.25vw;
              font-size: 0.7em;
              font-weight: 600;
            }

            .input:valid + span {
              color: green;
            }

            .input:invalid:not(:placeholder-shown) + span {
              color: red;
            }
          }

          .title {
            font-size: 2vw;
            color: var(--color-primary-2);
            font-weight: bold;
            letter-spacing: -1px;
            position: relative;
            display: flex;
            align-items: center;
            padding-left: 3vw;

            @keyframes pulse {
              from {
                transform: scale(0.9);
                opacity: 1;
              }

              to {
                transform: scale(1.8);
                opacity: 0;
              }
            }

            &::before,
            .title::after {
              position: absolute;
              content: '';
              height: 1vw;
              width: 1vw;
              border-radius: 50%;
              left: 0px;
              background-color: var(--color-primary-2);
            }

            &::before {
              width: 1.8vw;
              height: 1.8vw;
              background-color: var(--color-primary-2);
            }

            &::after {
              width: 1.8vw;
              height: 1.8vw;
              animation: pulse 1s linear infinite;
            }
          }

          .message,
          .signin {
            color: rgba(88, 87, 87, 0.822);
            font-size: 1vw;
          }

          .signin {
            text-align: center;

            a {
              color: var(--color-primary-2);

              &:hover {
                text-decoration: underline var(--color-primary-2);
              }
            }
          }

          .submit {
            border: none;
            outline: none;
            background-color: var(--color-primary-2);
            padding: 1vw;
            border-radius: 1vw;
            color: #fff;
            font-size: 1vw;
            transform: 0.3s ease;

            &:hover {
              background-color: rgb(56, 90, 194);
            }
          }
        }

        #map {
          height: 28rem;
          position: relative;
          // max-width: 45rem;
          iframe {
            width: 100%;
            height: 100%;
            border: none;
            border-radius: 2vw;
          }

          .waze-button {
            background-color: var(--color-primary-1-light);
            color: white;
            border: none;
            padding: 0.5vw 1.2vw;
            border-radius: 0.5vw;
            cursor: pointer;
            font-size: 1vw;
            font-weight: bold;
            transition: background-color 0.3s ease;
            position: absolute;
            top: 13rem;
            left: 1rem;
            display: flex;
            align-items: center;

            &:hover {
              background-color: var(--color-primary-1);
            }

            .waze-icon {
              width: 2.5vw;
              height: 2.5vw;
            }
          }
        }
        @media (min-width: $breakpoint-sm) {
          justify-content: center;
        }
        @media (min-width: $breakpoint-md) {
          flex-direction: row;
          justify-content: center;
          .form {
            min-height: 50rem;
            max-width: 60rem;
            flex-grow: 1;
          }
          #map {
            min-height: 50rem;
            flex-grow: 2;
          }
        }
        @media (min-width: $breakpoint-lg) {
          // height: fit-content;
        }
      }
    }
  }

  #c_wsp {
    all: unset;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 4vw;
    height: 4vw;
    position: fixed;
    background-color: #25d366;
    bottom: 2vw;
    right: 2vw;
    z-index: 1000;
    border-radius: 50%;

    a {
      color: white;
      text-decoration: none;
      overflow: hidden;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    img {
      display: flex;
      align-self: center;
      justify-self: center;
      width: 2vw;
      filter: invert(1);
      transition: all 250ms;

      // &:hover {
      //   filter: invert(0);
      // }
      &:hover {
        transform: scale(1.1);
      }
    }
    &:hover {
      box-shadow: 0 6px 16px rgba(0, 0, 0, 0.2);
    }
  }

  // #reviews {
  //   width: 100%;
  //   background-color: rgb(44, 169, 219, 0.725);
  //   padding-bottom: 5vw;
  //   margin-bottom: -1vw;
  //   display: flex;
  //   flex-direction: column;
  //   align-items: center;
  //   gap: 2vw;

  //   #r-title {
  //     text-align: center;
  //     font-weight: bold;
  //     color: white;
  //     font-size: 2.5vw;
  //   }

  //   #r-c-container {
  //     display: flex;
  //     flex-direction: row;
  //     gap: 1.5vw;
  //   }

  //   .card {
  //     max-width: 24vw;
  //     border-width: 0.1vw;
  //     border-style: solid;
  //     border-color: #d1d5db;
  //     border-radius: 0.5vw;
  //     box-shadow:
  //       0 10px 15px -3px rgba(0, 0, 0, 0.1),
  //       0 4px 6px -2px rgba(0, 0, 0, 0.05);
  //     background-color: #ffffff;
  //     padding: 1.5vw;
  //   }

  //   .card > * + * {
  //     margin-top: 1vw;
  //   }

  //   .card-profile-section {
  //     display: flex;
  //     align-items: center;
  //   }

  //   .card-profile-section > * + * {
  //     margin-left: 1vw;
  //   }

  //   .avatar {
  //     height: 3vw;
  //     width: 3vw;
  //     display: flex;
  //     align-items: center;
  //     justify-content: center;
  //     background-color: #ef4444;
  //     color: #ffffff;
  //     font-size: 1.125vw;
  //     font-weight: bold;
  //     border-radius: 9999px;
  //   }

  //   .user-name {
  //     color: #111827;
  //     font-weight: 500;
  //   }

  //   .user-title {
  //     color: #4b5563;
  //     font-size: 0.875vw;
  //   }

  //   .rating-stars {
  //     display: flex;
  //     color: #ef4444;
  //     font-size: 1.25vw;
  //   }

  //   .review-text {
  //     color: #374151;
  //     line-height: 1.625;
  //     font-size: 1vw;
  //   }

  //   .read-more-link {
  //     color: #ef4444;
  //     font-weight: 500;
  //     cursor: pointer;
  //   }

  //   .read-more-link:hover {
  //     text-decoration: underline;
  //   }
  // }
}
